<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    .page-wrap
      hr(class="dash")
      #top-of-gallery
        #header
          h1 _ARCHITEKT
        h2 #{picture.author}

      .pictures
        .picture
          img(src=picture.url width="100%" height="100%")
          span #{picture.description}
          span Copyright: #{picture.url}

      button(type="submit" onclick='edit()') Edit
      button(type="submit" onclick='gallery()') Back to Gallery
      p
        form(method="POST" action="/gallery/" + picture.id + "?_method=DELETE")
          button(type="submit") Delete Photo

    script.
      function edit(){
        window.location="/gallery/#{picture.id}/edit"
      }

      function gallery(){
        window.location="/gallery"
      }